.slider h3,
.slider h5,
.clients {
	text-shadow : 1px 1px 3px rgba(0,0,0,0.5) ;
}
.parallax-container{
	height : 200px;
}

.parallax img{
	filter: grayscale(1);
	opacity: 0.7 !important;
}

.clients img {
	max-width: 90px;
}

section {
	padding: 20px 0;
}