<!DOCTYPE html>
{% load static %}
  <html>
    <head>
      <title>Tadris Bio IAIN Tulungagung</title>
      <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="{% static 'css/materialize.min.css' %}"  media="screen,projection"/>

      <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
	  
	  <script src="{% static 'js/materialize.min.js' %}"></script>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>

    <body>
<!-- bagian navbar -->
  <div class="navbar-fixed">
    <nav class="green darken-3">
      <div class="container">
      <div class="nav-wrapper">
        <a href="#" data-target="mobile-nav" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <a href="#!" class="brand-logo">Tadris BIO C</a>
          <ul class="right hide-on-med-and-down">
            <li><a href="#about">About Us</a></li>
            <li><a href="#clients">Clients</a></li>
            <li><a href="#contact">Contact Us</a></li>
            <li><a href="#services">Service</a></li>
            <li><a href="#portfolio">Portfolio</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </div>

<!-- navbar untuk mobile -->
  <ul class="sidenav" id="mobile-nav">
    <li><a href="">About Us</a></li>
            <li><a href="">Clients</a></li>
            <li><a href="">Contact Us</a></li>
            <li><a href="">Service</a></li>
            <li><a href="">Portfolio</a></li>
    </ul>

    <!-- slider -->
    <div class="slider">
    <ul class="slides">
      <li>
        <img src="{% static 'img/1.png' %}"> <!-- random image -->
        <div class="caption right-align">
          <h3>SELAMAT DATANG</h3>
          <h5 class="light grey-text text-lighten-3">Tadris BIO C Jaya</h5>
        </div>
      </li>
      <li>
        <img src="{% static 'img/2.png' %}"> <!-- random image -->
        <div class="caption left-align">
          <h3>SELAMAT DATANG</h3>
          <h5 class="light grey-text text-lighten-3">Tadris BIO C Jaya</h5>
        </div>
      </li>
      <li>
        <img src="{% static 'img/3.png' %}"> <!-- random image -->
        <div class="caption center-align">
          <h3>SELAMAT DATANG</h3>
          <h5 class="light grey-text text-lighten-3">Tadris BIO C Jaya</h5>
        </div>
      </li>
      <li>
        <img src="{% static 'img/4.png' %}"> <!-- random image -->
        <div class="caption right-align">
          <h3>SELAMAT DATANG</h3>
          <h5 class="light grey-text text-lighten-3">Tadris BIO C Jaya</h5>
        </div>
      </li>
    </ul>
  </div>

<!-- about us -->
<section id="about" class="about">
  <div class="container">
    <div class="row">
      <h3 class="center light green-text text-darken-3">About Us</h3>
      <div class="col m6 light">
        <h5>Kami Adalah Pejuang Biologi</h5>
        <blockquote>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </blockquote>
      </div>
      <div class="col m6 light">
          <h5>PROGRESS</h5>
          <blockquote>
          <p>BOTANI</p>
            <div class="progress">
              <div class="determinate" style="width: 50%"></div>
            </div>
          <p>ANATOMI</p>
            <div class="progress">
              <div class="determinate" style="width: 30%"></div>
            </div>
          <p>FISIOLOGI</p>
            <div class="progress">
              <div class="determinate" style="width: 70%"></div>
            </div>
        </div>
      </blockquote>
    </div>
  </div>
</section>

<!-- about us -->
<div id="clients" class="parallax-container">
      <div class="parallax"><img src="{% static 'img/4.png' %}"></div>
      <div class="container clients">
        <h4 class="center-align white-text">Clients</h4>
        <div class="row">
          <div class="col m4 center">
            <img src="{% static 'img/5.png' %}">
          </div>
          <div class="col m4 center">
            <img src="{% static 'img/6.png' %}">
          </div>
          <div class="col m4 center">
            <img src="{% static 'img/7.png' %}">
          </div>
          
        </div>
      </div>
    </div>

<!--  service  -->
<section id="services" class="services grey lighten-3">
  <div class="container">
    <div class="row">
      <h3 class="light center grey-text text-darken-3">Services</h3>
        <div class="col m4 s12">
            <div class="card-panel center">
              <i class="material-icons medium">touch_app</i>
              <h5>Religius</h5>
              <p>Ketuhanan yang Maha Esa</p>
            </div>
          </div>
          <div class="col m4 s12">
            <div class="card-panel center">
              <i class="material-icons medium">record_voice_over</i>
              <h5>Jujur</h5>
              <p>Kejujuran mahal harganya</p>
            </div>
          </div>
          <div class="col m4 s12">
            <div class="card-panel center">
              <i class="material-icons medium">mood</i>
              <h5>Cinta Alam</h5>
              <p>Kami mahasiswa biologi cinta alam</p>
            </div>
          </div>
    </div>
  </div>
</section>

<!-- portfolio -->
<section id="portfolio" class="portfolio">
  <div class="container">
    <h3 class="light center grey-text text-darken-3">Portfolio</h3>
    <div class="row">
      <div class="col m3 s12">
        <img src="{% static 'img/portfolio/1.png' %}" class="responsive-img materialboxed">
      </div>
      <div class="col m3 s12">
        <img src="{% static 'img/portfolio/1.png' %}" class="responsive-img materialboxed">
      </div>
      <div class="col m3 s12">
        <img src="{% static 'img/portfolio/1.png' %}" class="responsive-img materialboxed">
      </div>
      <div class="col m3 s12">
        <img src="{% static 'img/portfolio/1.png' %}" class="responsive-img materialboxed ">
      </div>
    </div>
    <div class="row">
      <div class="col m3 s12">
        <img src="{% static 'img/portfolio/2.png' %}" class="responsive-img materialboxed">
      </div>
      <div class="col m3 s12">
        <img src="{% static 'img/portfolio/3.png' %}" class="responsive-img materialboxed">
      </div>
      <div class="col m3 s12">
        <img src="{% static 'img/portfolio/4.png' %}" class="responsive-img materialboxed">
      </div>
      <div class="col m3 s12">
        <img src="{% static 'img/portfolio/5.png' %}" class="responsive-img materialboxed ">
      </div>
    </div>
  </div>
</section>

<!-- contact us -->
<section id="contact" class="contact grey lighten-3">
  <div class="container">
    <h3 class="center green-text-darken-3">Contact Us</h3>
    <div class="row">
      <div class="col m5 s12">
        <div class="card-panel green darken-3 center white-text">
          <i class="material-icons">email</i>
          <p>Jika ingin curhat silahkan hubungi 085852127128</p>
            </div>
            <ul class="collection with-header">
              <li class="collection-header center"><h5>Alamat kami</h5></li>
              <li class="collection-item">Plosokandang</li>
              <li class="collection-item">Tulungagung</li>
              <li class="collection-item">Aku kangen</li>
              <li class="collection-item">SUMPAHHH</li>
            </ul>
          </div>
      <div class="col m7 s12">
        <form>
          <div class="card-panel">
            <h5>Silahkan tulis uneg-uneg anda</h5>
            <div class="input-field">
                <input type="text" name="name" id="name">
                <label for="name">Nama</label>
            </div>
            <div class="input-field">
                <input type="email" name="email" id="email">
                <label for="email">E-mail</label>
            </div>
            <div class="input-field">
                <input type="text" name="phone" id="phone">
                <label for="phone">No. HP</label>
            </div>
            <div class="input-field">
                <textarea name="massage" id="massage" class="materialize-textarea"></textarea>
                <label for="massage">Pesan</label>
            </div>
            <button type="submit" class="btn green darken-3">send</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

<!-- FOOTER -->
<footer class="green darken-3 white-text center" style="padding: 10px 0;">
  <p><i class="material-icons">copyright</i>copyright by firzonainur@gmail.com</p>
</footer>

      <!--JavaScript at end of body for optimized loading-->
      <script type="text/javascript" src="js/materialize.min.js"></script>
      <script>
        const sidenav = document.querySelectorAll('.sidenav');
        M.Sidenav.init(sidenav);

        const slider = document.querySelectorAll('.slider');
        M.Slider.init(slider, {
          indicators :false,
          height : 450,
          transition : 600,
          interval : 2000 
        });

        const parallax = document.querySelectorAll('.parallax');
        M.Parallax.init(parallax);

        const materialbox = document.querySelectorAll('.materialboxed');
        M.Materialbox.init(materialbox);

      </script>
    </body>
  </html>
        